.formGrup {
  padding: 0px 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formGrup label {
  color: #597d95;
  margin-bottom: 10px;
  font-weight: bold;
}

.formGrup input {
  height: 35px;
  font-size: 18px;
  background-color: #edf7fa25;
  border: 1px solid #597d95b2;
  border-radius: 5px;
  color: white;
}

.formGrup span {
  margin-top:5px;
  color: rgb(219, 73, 73);
  font-size: 13px;
}
.error {
  border: 1px solid red !important;
}
