.nextButton {
  height: 60%;
  color: white;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.44);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0;
  cursor: pointer;
  border: 0px;
  transition: 0.3s;
  border-radius: 50px;
}
.nextButton:hover {
  opacity: 0.5;
}
.nextButton:active {
  opacity: 1;
}

.buttonConatiner {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 100;
  right: 0;
  cursor: pointer;
}

.btnC {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnC img {
  margin-left: 5px;
  width: 50px;
}

.container10 {
  width: 100%;
  height: 100vh;
  user-select: none;
  -moz-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
